@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Black.woff") format("woff"), url("../assets/fonts/Raleway-Black.woff2") format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-ExtraBold.woff") format("woff"), url("../assets/fonts/Raleway-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Bold.woff") format("woff"), url("../assets/fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Medium.woff") format("woff"), url("../assets/fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Regular.woff") format("woff"), url("../assets/fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-ExtraLight.woff") format("woff"), url("../assets/fonts/Raleway-ExtraLight.woff2") format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Thin.woff") format("woff"), url("../assets/fonts/Raleway-Thin.woff2") format(".woff2");
  font-weight: 100;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #283618;
  font-family: "Raleway";
}

.header {
  padding-top: 30px;
  color: #fdf0d5;
  text-align: center;
  text-transform: uppercase;
}

.subheader {
  color: #fdf0d5;
  text-align: center;
  font-weight: 300;
  margin: auto;
  text-align: center;
  padding: 16px 150px 0;
}
.subheader--bold {
  font-weight: 700;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 30px;
  max-width: 1000px;
  margin: auto;
}

.card {
  width: 220px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 2px 8px black;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 30%;
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  text-align: center;
  color: #fdf0d5;
  font-size: 16px;
  border-radius: 10px;
  border: solid #bc6c25 5px;
}

.card-front {
  background-color: #fdf0d5;
  border-radius: 10px;
}
.card-front__img {
  background-color: #fdf0d5;
  height: 150px;
  width: 150px;
}

.img-container {
  background-color: #fdf0d5;
}

.card-front__text {
  background-color: #fdf0d5;
  color: #283618;
}

.card-back {
  background-color: #fdf0d5;
  transform: rotateY(180deg);
  color: #283618;
  padding: 15px;
  font-size: 14px;
}

.card.flipped {
  transform: rotateY(180deg);
}

.quote-text {
  font-size: 18px;
  padding: 10px;
  color: #283618;
  border: 2px solid #bc6c25;
  border-radius: 10px;
  background-color: #fdf0d5;
  text-align: center;
  margin-top: 10px;
}

.card .quote-text {
  font-size: 16px;
}

.audio {
  max-width: 1000px;
  margin: auto;
  padding: 0 60px 30px;
}

.form {
  max-width: 1000px;
  margin: auto;
}
.form h2 {
  color: #283618;
  background-color: #fdf0d5;
  text-align: center;
  font-size: 30px;
}
.form__fields {
  background-color: #fdf0d5;
  border: 5px solid #bc6c25;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
}
.form__field {
  color: #283618;
  font-size: 24px;
  background-color: #fdf0d5;
}
.form__name, .form__comment {
  background-color: #fdf0d5;
  border-style: none;
  border: 0.0625rem solid #bc6c25;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.75rem;
}
.form::-moz-placeholder {
  color: #283618;
}
.form::placeholder {
  color: #283618;
}
.form__name {
  height: 36px;
}
.form__comment {
  resize: none;
  height: 5rem;
}
.form__button {
  font-size: 16px;
  height: 36px;
  width: 100%;
  border-radius: 0.25rem;
  background-color: #fdf0d5;
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
}

.button {
  width: 100px;
  background-color: #bc6c25;
  border-style: none;
  border-radius: 4px;
  font-size: 16px;
}/*# sourceMappingURL=index.css.map */