@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Black.woff") format("woff"), url("../assets/fonts/Raleway-Black.woff2") format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-ExtraBold.woff") format("woff"), url("../assets/fonts/Raleway-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Bold.woff") format("woff"), url("../assets/fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Medium.woff") format("woff"), url("../assets/fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Regular.woff") format("woff"), url("../assets/fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-ExtraLight.woff") format("woff"), url("../assets/fonts/Raleway-ExtraLight.woff2") format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Thin.woff") format("woff"), url("../assets/fonts/Raleway-Thin.woff2") format(".woff2");
  font-weight: 100;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #283618;
  font-family: "Raleway";
}

.header {
  padding-top: 1.875rem;
  color: #fdf0d5;
  text-align: center;
  text-transform: uppercase;
}

.subheader {
  color: #fdf0d5;
  text-align: center;
  font-weight: 300;
  margin: auto;
  text-align: center;
  padding: 1rem 9.375rem 0;
}
.subheader--bold {
  font-weight: 700;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
  padding: 1.875rem;
  max-width: 62.5rem;
  margin: auto;
}

.card {
  width: 13.75rem;
  height: 18.75rem;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
  cursor: pointer;
  border-radius: 0.625rem;
  box-shadow: 0 0.125rem 0.5rem black;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 30%;
  font-size: 1rem;
}
.card__front, .card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.25rem;
  text-align: center;
  color: #fdf0d5;
  font-size: 1rem;
  border-radius: 0.625rem;
  border: solid #bc6c25 0.3125rem;
}
.card__front {
  background-color: #fdf0d5;
  border-radius: 0.625rem;
}
.card__front--img {
  background-color: #fdf0d5;
  height: 9.375rem;
  aspect-ratio: 1;
}
.card__back {
  background-color: #fdf0d5;
  transform: rotateY(180deg);
  color: #283618;
  padding: 0.625rem;
  font-size: 0.875rem;
}
.card__text {
  font-size: 0.875rem;
  padding: 0.625rem;
  color: #283618;
  border: 0.125rem solid #bc6c25;
  border-radius: 0.625rem;
  background-color: #fdf0d5;
  text-align: center;
  margin-top: 0.625rem;
}

.img-container {
  background-color: #fdf0d5;
}

.card.flipped {
  transform: rotateY(180deg);
}

.audio {
  max-width: 62.5rem;
  margin: auto;
  padding: 0 3.75rem 1.875rem;
}

.form {
  max-width: 62.5rem;
  margin: auto;
}
.form h2 {
  color: #283618;
  background-color: #fdf0d5;
  text-align: center;
  font-size: 1.875rem;
}
.form__fields {
  background-color: #fdf0d5;
  border: 0.3125rem solid #bc6c25;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  width: 90%;
  margin: auto;
  margin-bottom: 1.875rem;
}
.form__field {
  color: #283618;
  font-size: 1.5rem;
  background-color: #fdf0d5;
}
.form__name, .form__comment {
  background-color: #fdf0d5;
  border-style: none;
  border: 0.0625rem solid #bc6c25;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.75rem;
}
.form::-moz-placeholder {
  color: #283618;
}
.form::placeholder {
  color: #283618;
}
.form__name {
  height: 2.25rem;
}
.form__comment {
  resize: none;
  height: 5rem;
}
.form__button {
  font-size: 1rem;
  height: 2.25rem;
  width: 100%;
  border-radius: 0.25rem;
  background-color: #fdf0d5;
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
}

.button {
  width: 6.25rem;
  background-color: #bc6c25;
  border-style: none;
  border-radius: 0.25rem;
  font-size: 1rem;
}/*# sourceMappingURL=index.css.map */